@page
@using easytransfer.Models
@model DepositModel

<script src="~/lib/jquery/dist/jquery.js"></script>
<script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
<div class="container">
    <h3>Deposit Money</h3>
    <hr />
    <br />
<form method="post">
    <div class="row">
        <div class="col-md-4">
            <label asp-for="Deposit.Amount"></label>
            <input asp-for="Deposit.Amount" class="form-control" />
            <span class="alert-danger" asp-validation-for="Deposit.Amount"></span>
        </div>
    </div>
    <br />
    <div class="checkbox">
        <label asp-for="Deposit.RememberMe"></label>
        <input asp-for="Deposit.RememberMe" />
    </div>

    <input type="submit" value="Deposit" class="btn btn-primary" />
    <a class="btn btn-default" href="/AllUsers">Cancel</a>
</form>
</div>